name: Build and Deploy to Docker Hub
on: push
jobs: 
    lint-and-format: 
        name: checking the linting and formating
        runs-on: ubuntu-latest
        steps: 
            - name: checkout the repo
              uses: actions/checkout@v3

            - name: setting node enviornment
              uses: actions/setup-node@v4

            - name: installing dependencies
              run: npm install
              working-directory: Third

            - name: checking linting
              run: npm run lint:check
              working-directory: Thrid
            
            - name: checking formatting
              run: npm run format:check
              working-directory: Third

    build-and-deploy:
        name: creating docker image and push to docker hub
        runs-on: ubuntu-latest
        steps: 
            - name: checkout the repo
              uses: actions/checkout@v3

            - name: Prepare docker file
              run: cp ./dockerfile ./dockerfile

            - name: Login to Docker Hub
              uses: docker/login-action@v1
              with: 
                username: ${{secrets.DOCKER_USERNAME}}
                password: ${{secrets.DOCKER_PASSWORD}}
            
            - name: Build and Push Docker image
              uses: docker/build-push-action@v2
              with:
                context: .
                file: ./Dockerfile
                push: true
                tags: backend:production
                target: production

            - name: Verify Pushed Image
              run: docker pull 100xdevs/web-app:latest